html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url("../Recursos/fondo2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Arial", sans-serif;
  animation: fadeInPage 1s ease-in-out;
}

.custom-navbar .navbar-nav {
  margin-left: -7em;
}

.navbar-dark {
  background-color: #252525 !important;
}

.navbar-nav .nav-item {
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.dropdown-submenu {
  position: relative;
}

.navbar .dropdown-menu {
  transform: translateX(-5em);
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  transform: translateX(0.01em);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #f8f9fa;
}

.reservas,
.btn-primary {
  color: #35633e;
}

.btn-primary {
  color: white;
  background-color: #252525;
  border: none;
}

.btn-primary:hover {
  background-color: #3e8e41;
}

categorias {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Elemento: contenedor de categorías */
.categorias__contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.footer {
  background-color: #252525 !important;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p,
.footer a {
  color: #ddd;
  text-decoration: none;
}

.footer a:hover {
  color: #bbb;
  transition: color 0.3s ease-in-out;
}

.redes-iconos {
  color: #ddd;
  margin: 0 0.5em;
  font-size: 1em;
}
