html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  background-image: url("../Recursos/fondo2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Arial", sans-serif;
  animation: fadeInPage 1s ease-in-out;
}

.custom-navbar .navbar-nav {
  margin-left: -7em;
  height: 3em;
}

.navbar-dark {
  background-color: #252525 !important;
}

.navbar-nav .nav-item {
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.dropdown-submenu {
  position: relative;
}

.navbar .dropdown-menu {
  transform: translateX(-4em);
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  transform: translateX(0.01em);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #f8f9fa;
}

.dropcat-item,
.droprestaurant-item {
  text-align: center;
}

.droprestaurant-item a {
  color: black;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 1.25em;
  justify-content: center;
  align-items: center;
  padding: 1.25em;
}

.breadcrumbs {
  margin-top: 1.52em;
  color: white;
}

.breadcrumbs li {
  list-style-type: none;
  padding: 0;
}

#init-bread {
  color: white;
}

ul.breadcrumbs li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumbs li + li:before {
  padding: 0.5em;
  content: "/\00a0";
}

#categories {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 3em 0;
}

.category {
  flex-grow: 1;
  min-width: 15em;
  text-align: center;
  display: inline-block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.dropcat-item a {
  color: black;
}

.category a {
  color: white;
}

/* .cat-dish {
  margin-bottom: 5em;
} */

figure {
  border: 0.1875em;
  border-radius: 0.625em;
  background-color: #252525;
  padding: 1em;
}

.dish {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

figure img {
  width: 100%;
  height: 30em;
  object-fit: cover;
  border-radius: 0.625em;
  cursor: pointer;
}

.dish img {
  width: 100%;
  height: 30em;
  object-fit: cover;
  border-radius: 0.625em;
  cursor: pointer;
}

.dish__name {
  color: white;
  display: grid;
  text-align: center;
}

.dish__name h1 {
  margin-left: 1.25em;
  margin-top: 0.625em;
}

#info-dish {
  background-color: #252525;
  color: white;
  border-radius: 0.625em;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 3em;
  grid-column: 2 / -2;
}

#info-dish h3 {
  font-weight: bold;
  margin: 0;
}

#info-dish p {
  margin-top: 1em;
}

.footer {
  background-color: #252525 !important;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p,
.footer a {
  color: #ddd;
  text-decoration: none;
}

.footer a:hover {
  color: #bbb;
  transition: color 0.3s ease-in-out;
}

.redes-iconos {
  color: #ddd;
  margin: 0 0.5em;
  font-size: 1em;
}
