html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  background-image: url("../Recursos/fondo2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Arial", sans-serif;
  animation: fadeInPage 1s ease-in-out;
}

.custom-navbar .navbar-nav {
  margin-left: -7em;
}

.navbar-dark {
  background-color: #252525 !important;
}

#adminNavItem {
  margin-left: 0.5em;
}

.navbar-nav .nav-item {
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.dropdown-submenu {
  position: relative;
}

.navbar .dropdown-menu {
  transform: translateX(-4em);
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  transform: translateX(0.01em);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #f8f9fa;
}

.dropcat-item,
.droprestaurant-item,
.dropcategory-item {
  text-align: center;
}

.droprestaurant-item a,
.dropcategory-item a {
  color: black;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding: 1.25em;
}

.breadcrumbs {
  margin-top: 1.52em;
  color: white;
}

.breadcrumbs li {
  list-style-type: none;
  padding: 0;
}

#init-bread {
  color: white;
}

ul.breadcrumbs li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumbs li + li:before {
  padding: 0.5em;
  content: "/\00a0";
}

.content__title,
.categories {
  color: white;
  text-align: center;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

#categories {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 0.5em 0;
}

.category,
.menu,
.allergen {
  flex-grow: 1;
  min-width: 15em;
  text-align: center;
  display: inline-block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.dropcat-item a {
  color: black;
}

.category a,
.menu a,
.allergen a {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.menu-link:active,
.menu-link.selected,
.allergen-link:active,
.allergen-link.selected {
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

figure {
  border: 0.1875em;
  border-radius: 0.625em;
  background-color: #252525;
  padding: 1em;
}

.dish {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

figure img {
  width: 100%;
  height: 25em;
  object-fit: cover;
  border-radius: 0.625em;
  cursor: pointer;
}

.dish img {
  width: 100%;
  height: 30em;
  object-fit: cover;
  border-radius: 0.625em;
  cursor: pointer;
}

.dish__name {
  color: white;
  /* display: grid; */
  text-align: center;
}

.dish__name h1 {
  margin-left: 1.25em;
  margin-top: 0.625em;
}

#info-dish {
  background-color: #252525;
  color: white;
  border-radius: 0.625em;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 3em;
  grid-column: 2 / -2;
}

#info-dish h3 {
  text-align: center;
  font-weight: bold;
  margin: 0;
}

#info-dish p {
  margin-top: 1em;
}

#info-restaurant {
  background-color: #252525;
  color: white;
  border-radius: 0.625em;
  padding: 1em;
  margin-top: -2em;
  grid-column: 2 / -2;
}

#btn-container {
  display: flex;
  justify-content: center;
}

#openWindow {
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0 auto;
  display: block;
}

.footer {
  background-color: #252525 !important;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p,
.footer a {
  color: #ddd;
  text-decoration: none;
}

.footer a:hover {
  color: #bbb;
  transition: color 0.3s ease-in-out;
}

.redes-iconos {
  color: #ddd;
  margin: 0 0.5em;
  font-size: 1em;
}

#dishes-category,
#dishes-menu,
#dishes-allergen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dish-image {
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.selected-dish {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

.newWindow-figure {
  width: 90%;
  margin: 0 auto;
}

.newWindow-main {
  width: 100%;
}

.newWindow-figure img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  /* max-width: 200%; */
  max-height: 80vh;
  margin: 0;
}

#createDish,
#deleteDish {
  background-color: #f8f9fa;
  border-radius: 1em;
}
.title {
  text-align: center;
}

.title strong {
  font-weight: bold;
}

.form-legend {
  text-align: center;
  margin-bottom: 1.25em;
}

.form-button {
  text-align: center;
}

.form__name,
.form__desc {
  margin-bottom: 1em;
}

.form__categ select,
.form__aller select {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  /* height: 2.5em; */
  /* padding: 0.5em; */
  font-size: 1em;
  margin-bottom: 1em;
}

.btn-create {
  background-color: green;
  border-color: green;
  color: white;
}

.btn-reset {
  background-color: red;
  border-color: red;
  color: white;
}

.form-label {
  font-weight: bold;
}

.hidden {
  display: none;
}
